* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
}

.list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
    height: 100px;
}

.list-country {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.list-style {
    background-color: #ffffff;
    max-height: 350px;
    overflow-y: scroll;
    width: 250px;
    list-style: none;
    direction: rtl;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Raleway";
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000050;
    height: 0%;
    z-index: 10;
    position: absolute;

}

.showmenu {
    animation: showmenu 300ms linear alternate forwards;

}

.showmenurev {
    height: 0px;
}

@keyframes showmenu {
    0% {
        height: 0%;
    }

    100% {
        height: inherit;

    }
}

.list-style .iteams {
    margin: 0;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 1px;
    border-color: #bec6cc9f;
    border-radius: 2px;
    border-style: solid;
    cursor: pointer;
    padding: 0 15px;
    font-weight: bold;

}

.iteams:hover {
    background-color: #bec6cc1e;

}


.list-style::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

.list-style::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #BEC6CC;
    height: 30%;
}

.inputsearch {
    flex-shrink: 1;
    flex-grow: 1;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #8a8c8dd5;
    font-size: 1rem;
    outline: none;
    font-family: "Raleway";
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #00000050;
    padding-left: 10px;
    z-index: 10;
}


.inputsearch::placeholder {
    text-align: center;
}

.list-country {
    display: flex;
}

#countryinput::placeholder {
    font-size: .75rem;
}

#cityinput::placeholder {
    font-size: .75rem;
}

button {
    flex-shrink: 1;
    flex-grow: 1;
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    font-size: 1rem;
    outline: none;
    font-family: "Raleway";
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #000000;

    padding-left: 10px;
    z-index: 10;
    background-color: #0e999488;
    color: wheat;
    transition: all 150ms linear;

}

button:hover {
    background-color: #0e9994c4;
    box-shadow: 0px 1px 5px 0px #000000;
    cursor: pointer;

}

.iteamsShow {
    height: 250px;
    width: 200px;
    background-color: #ffffff;
    font-family: "Raleway";
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px;
    transition: all 200ms linear;
    box-shadow: 5px 5px 5px 0px #00000050;
    animation: showIteamsSkew 200ms linear alternate forwards;
    position: relative;
    user-select: none;
}

@keyframes showIteamsSkew {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes postShow {
    0% {
        transform: scaleX(0);

    }

    100% {
        transform: scaleX(1);

    }
}

.iteamsShow:hover {
    box-shadow: 5px 5px 5px 0px #00000011;
    transform: translate(3px, 3px);

}

.iteamsShow header {
    display: flex;
    gap: 20px;
    margin: 5px 0 0 5px;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 5px;
    padding-right: 20px;
}

.boxIteams {
    padding: 0 50px;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    height: 20px;
    position: relative;
    top: -10px;
    margin-right: -9px;
}

header h3 {
    background-color: #f0f0f0;
    padding: 4px 12px;
    border-radius: 10px;
    text-align: center;
    max-width: 170px;
    width: 150px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.descre {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.cantigrad {
    background-color: #f0f0f0;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    width: 50px;
    margin-top: 10px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    font-size: .8rem;
}

.cantigradmin {
    background-color: #f0f0f0;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    width: 57px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    font-size: .8rem;
    max-height: 23px;

}

.cantigradmax {
    background-color: #f0f0f0;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    width: 57px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    font-size: .8rem;

}

.cantigadinfo {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-left: -5px;
}

sup {
    font-size: .5rem;

}

h3 {
    transform: scaleX(0);
    transform-origin: left;
    animation: postShow 200ms 200ms linear alternate forwards;
    z-index: 10;

}

@keyframes showIteams {
    100% {
        opacity: 1;
    }
}

.showIteams {
    opacity: 0;
    animation: showIteams 200ms 500ms linear alternate forwards;

}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
}

footer h3 {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: .6rem;
    margin-top: 10px;
    margin-left: 14px;
    max-width: 180px;
    display: inline-flex;

}


.boxIteams {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
@media (max-width:800px){
    .list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 75px;
        margin-bottom: 65px;
    }
}